In [1]:
import pandas as pd
import json

In [2]:
metro = pd.read_excel("Metro_Stations.xlsx")
metro.head()

                       Station  Dist.
0  Shaheed Sthal(New Bus Adda)    0.0
1                 Hindon River    1.0
2                      Arthala    2.5
3                  Mohan Nagar    3.2
4                   Shyam park    4.5

In [3]:
metro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Station  286 non-null    object
 1   Dist.    286 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB

In [4]:
metro['ADDRESS'] = metro['Station'] + ' Metro Station, Delhi'

In [5]:
metro.head()

,Station,Dist.,ADDRESS
0,Shaheed Sthal(New Bus Adda),0.0,"Shaheed Sthal(New Bus Adda) Metro Station, Delhi"
1,Hindon River,1.0,"Hindon River Metro Station, Delhi"
2,Arthala,2.5,"Arthala Metro Station, Delhi"
3,Mohan Nagar,3.2,"Mohan Nagar Metro Station, Delhi"
4,Shyam park,4.5,"Shyam park Metro Station, Delhi"

In [6]:
len(metro)

314

In [7]:
metro = metro.dropna()

In [8]:
len(metro)

286

In [9]:
metro.tail()

                 Station  Dist.                                   ADDRESS
309         GNIDA Office   26.2         GNIDA Office Metro Station, Delhi
310  Depot Greater Noida   27.1  Depot Greater Noida Metro Station, Delhi
311               Dwarka    0.0               Dwarka Metro Station, Delhi
312               Nangli    1.5               Nangli Metro Station, Delhi
313            Najafgarh    3.9            Najafgarh Metro Station, Delhi

In [10]:
metro.reset_index(level=0, inplace=True)

In [11]:
metro.tail()

,index,Station,Dist.,ADDRESS
281,309,GNIDA Office,26.2,"GNIDA Office Metro Station, Delhi"
282,310,Depot Greater Noida,27.1,"Depot Greater Noida Metro Station, Delhi"
283,311,Dwarka,0.0,"Dwarka Metro Station, Delhi"
284,312,Nangli,1.5,"Nangli Metro Station, Delhi"
285,313,Najafgarh,3.9,"Najafgarh Metro Station, Delhi"

In [12]:
metro.head()

,index,Station,Dist.,ADDRESS
0,0,Shaheed Sthal(New Bus Adda),0.0,"Shaheed Sthal(New Bus Adda) Metro Station, Delhi"
1,1,Hindon River,1.0,"Hindon River Metro Station, Delhi"
2,2,Arthala,2.5,"Arthala Metro Station, Delhi"
3,3,Mohan Nagar,3.2,"Mohan Nagar Metro Station, Delhi"
4,4,Shyam park,4.5,"Shyam park Metro Station, Delhi"

In [13]:
metro = metro.drop(['index'], axis = 1)

In [14]:
metro.head()

,Station,Dist.,ADDRESS
0,Shaheed Sthal(New Bus Adda),0.0,"Shaheed Sthal(New Bus Adda) Metro Station, Delhi"
1,Hindon River,1.0,"Hindon River Metro Station, Delhi"
2,Arthala,2.5,"Arthala Metro Station, Delhi"
3,Mohan Nagar,3.2,"Mohan Nagar Metro Station, Delhi"
4,Shyam park,4.5,"Shyam park Metro Station, Delhi"

In [15]:
metro['long'] = ""
metro['lat'] = ""

In [16]:
import requests
payload = {'grant_type': 'client_credentials' , 'client_id': 'dgwG4nEC7_-B283LLAj9W4Z4c4VQsDqD6gfZ4XwauNzIA1IMaCI7k6pOy6QCLssez0PaYLnixWR3rv80d422Og==' , 'client_secret': 'oGQdcwUsRjPvmLZ-LLub01BVfZiUdmcNLX7SAX0U6V4C7ejV-aG9gcOYsc4OjkpNx1C9qwv0uwFQJGup2-Bb1Gx_Jj8U4xDh'}#Enter Your Client_id,Client_secret
r=requests.post("https://outpost.mapmyindia.com/api/security/oauth/token",data =payload)
print(r.text)

{"access_token":"aee7695f-cc92-44d5-a97f-12731ba38e79","token_type":"bearer","expires_in":8750,"scope":"READ","project_code":"prj1593693000i1430257664"}

In [17]:
# r.text

In [18]:
r.json()

{'access_token': 'aee7695f-cc92-44d5-a97f-12731ba38e79',
 'token_type': 'bearer',
 'expires_in': 8750,
 'scope': 'READ',
 'project_code': 'prj1593693000i1430257664'}

In [19]:
a = r.json()

In [20]:
access_token = a['access_token']

In [21]:
access_token

'aee7695f-cc92-44d5-a97f-12731ba38e79'

In [22]:
r.text

'{"access_token":"aee7695f-cc92-44d5-a97f-12731ba38e79","token_type":"bearer","expires_in":8750,"scope":"READ","project_code":"prj1593693000i1430257664"}'

In [23]:
payload1= {'address': 'Dilshad Garden Metro Station, Delhi'}
url= "https://atlas.mapmyindia.com/api/places/geocode?"

# headers = {'Authorization': 'aee7695f-cc92-44d5-a97f-12731ba38e79'}#Enter Your Access Code 

headers = {'Authorization': access_token}#Enter Your Access Code 

r1=requests.get(url,headers=headers, params=payload1)
#print(r1)

# print(r1.text)

import json
text_json = json.loads(r1.text)
cop=text_json['copResults']
lat=cop['latitude']
long=cop['longitude']
print("Latitude = " , lat)
print("Longitude = " , long)

Latitude =  28.675865
Longitude =  77.321519

In [24]:
print(r1.text)

{"copResults": {"houseNumber": "", "houseName": "", "poi": "Dilshad Garden Metro Station", "street": "Grand Trunk Road", "subSubLocality": "", "subLocality": "", "locality": "Jhilmil Colony", "village": "", "subDistrict": "Vivek Vihar", "district": "Shahdara District", "city": "New Delhi", "state": "Delhi", "pincode": "110095", "formattedAddress": "Dilshad Garden Metro Station, Grand Trunk Road, Jhilmil Colony, Vivek Vihar, Shahdara District, New Delhi, Delhi, 110095", "eLoc": "3RD8OK", "latitude": 28.675865, "longitude": 77.321519, "geocodeLevel": "poi", "confidenceScore": 0.4}}

In [25]:
# for x in range(len(metro)):
#     print(metro['ADDRESS'][x])

In [26]:
for x in range(len(metro)):
    try:
        payload1= {'address': metro['ADDRESS'][x]}
        url= "https://atlas.mapmyindia.com/api/places/geocode?"
#         headers = {'Authorization': 'aee7695f-cc92-44d5-a97f-12731ba38e79'} #Enter Your Access Code
        headers = {'Authorization': access_token} #Enter Your Access Code
        
        r1=requests.get(url,headers=headers, params=payload1)
        text_json = json.loads(r1.text)
        metro['lat'][x] = text_json['copResults']['latitude']
        metro['long'][x] = text_json['copResults']['longitude']
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
metro.head()

C:\Users\Prachi\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Prachi\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

Unexpected error occurred. Expecting value: line 1 column 1 (char 0)

,Station,Dist.,ADDRESS,long,lat
0,Shaheed Sthal(New Bus Adda),0.0,"Shaheed Sthal(New Bus Adda) Metro Station, Delhi",77.2152,28.6951
1,Hindon River,1.0,"Hindon River Metro Station, Delhi",77.2665,28.6699
2,Arthala,2.5,"Arthala Metro Station, Delhi",77.2665,28.6699
3,Mohan Nagar,3.2,"Mohan Nagar Metro Station, Delhi",77.1063,28.6058
4,Shyam park,4.5,"Shyam park Metro Station, Delhi",77.0447,28.6206

In [27]:
metro[270:]

,Station,Dist.,ADDRESS,long,lat
270,Noida Sector 142,10.5,"Noida Sector 142 Metro Station, Delhi",77.0331,28.5972
271,Noida Sector 143,11.5,"Noida Sector 143 Metro Station, Delhi",77.2794,28.6179
272,Noida Sector 144,12.9,"Noida Sector 144 Metro Station, Delhi",77.2794,28.6179
273,Noida Sector 145,14.1,"Noida Sector 145 Metro Station, Delhi",77.2794,28.6179
274,Noida Sector 146,15.8,"Noida Sector 146 Metro Station, Delhi",77.2794,28.6179
275,Noida Sector 147,17.3,"Noida Sector 147 Metro Station, Delhi",77.2794,28.6179
276,Noida Sector 148,18.9,"Noida Sector 148 Metro Station, Delhi",77.2794,28.6179
277,Knowledge Park II,21.4,"Knowledge Park II Metro Station, Delhi",77.3004,28.6754
278,Pari Chowk Greater Noida,22.5,"Pari Chowk Greater Noida Metro Station, Delhi",77.5082,28.4633
279,Alpha 1 Greater Noida,23.4,"Alpha 1 Greater Noida Metro Station, Delhi",77.2383,28.5417
280,Delta 1 Greater Noida,24.9,"Delta 1 Greater Noida Metro Station, Delhi",77.2383,28.5417
281,GNIDA Office,26.2,"GNIDA Office Metro Station, Delhi",77.208,28.5394
282,Depot Greater Noida,27.1,"Depot Greater Noida Metro Station, Delhi",77.262,28.6234
283,Dwarka,0.0,"Dwarka Metro Station, Delhi",77.0227,28.6152
284,Nangli,1.5,"Nangli Metro Station, Delhi",77.0104,28.6173
285,Najafgarh,3.9,"Najafgarh Metro Station, Delhi",77.0776,28.6294

In [30]:
# metro.to_excel(r'Metronew.xlsx', index = False)