In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Delhinew_district.xlsx")

In [3]:
df.head()

,STORE NAME,Executive Name,AREA,ADDRESS,COLOR_CODE,CALL SUMMARY,ADDRESS2,long,lat,district
0,Akas Optical Shop,sahil,ADARSH NAGAR,"B-970, Block H 3, Jahangirpuri, Delhi, 110033",NaN,wrong number,"B-970, Block H 3, Jahangirpuri, Delhi, 110033,...",77.169424,28.727799,North District
1,Alisha Opticals,sahil,ADARSH NAGAR,"D-483, Railway Rd, Sadi Nagar, Azadpur, Ashok ...",NaN,NaN,"D-483, Railway Rd, Sadi Nagar, Azadpur, Ashok ...",77.167459,28.714504,North District
2,Aman optics,NaN,ADARSH NAGAR,"A-13, GT Karnal road, Adarsh Nagar, New Delhi-...",NaN,NaN,"A-13, GT Karnal road, Adarsh Nagar, New Delhi-...",77.169118,28.718977,North District
3,Dr. K.L. Sethi eye care,NaN,ADARSH NAGAR,"C-5, aryasamaj road, Adarsh Nagar new Delhi-1...",NaN,NaN,"C-5, aryasamaj road, Adarsh Nagar new Delhi-1...",77.172657,28.721333,North District
4,Eye care centre,Naman,ADARSH NAGAR,"C-5 ,Shop no.-3 Arya samaj road, Adarsh Nagar,...",0.5,NaN,"C-5 ,Shop no.-3 Arya samaj road, Adarsh Nagar,...",77.175140,28.718182,North District

In [4]:
pd.value_counts(df['district'])

West District                283
Central District             192
North West District          135
South East Delhi District    125
South District               112
North District                96
Shahdara District             92
South West District           76
East District                 72
New Delhi District            41
North East District           41
Gurugram District              8
Name: district, dtype: int64

In [5]:
df[df['district'] == "Gurugram District"] = "South District"

In [6]:
pd.value_counts(df['district'])

West District                283
Central District             192
North West District          135
South East Delhi District    125
South District               120
North District                96
Shahdara District             92
South West District           76
East District                 72
New Delhi District            41
North East District           41
Name: district, dtype: int64

In [7]:
df[df['district'] == "Shahdara District"] = "North East District"

In [8]:
pd.value_counts(df['district'])

West District                283
Central District             192
North West District          135
North East District          133
South East Delhi District    125
South District               120
North District                96
South West District           76
East District                 72
New Delhi District            41
Name: district, dtype: int64

In [9]:
df[df['district'] == "South East Delhi District"] = "South District"

In [10]:
pd.value_counts(df['district'])

West District          283
South District         245
Central District       192
North West District    135
North East District    133
North District          96
South West District     76
East District           72
New Delhi District      41
Name: district, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274 entries, 0 to 1273
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   STORE NAME      1274 non-null   object
 1   Executive Name  303 non-null    object
 2   AREA            1274 non-null   object
 3   ADDRESS         1274 non-null   object
 4   COLOR_CODE      269 non-null    object
 5   CALL SUMMARY    314 non-null    object
 6   ADDRESS2        1274 non-null   object
 7   long            1273 non-null   object
 8   lat             1273 non-null   object
 9   district        1273 non-null   object
dtypes: object(10)
memory usage: 99.7+ KB

In [12]:
df["district"].fillna("New Delhi District", inplace = True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274 entries, 0 to 1273
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   STORE NAME      1274 non-null   object
 1   Executive Name  303 non-null    object
 2   AREA            1274 non-null   object
 3   ADDRESS         1274 non-null   object
 4   COLOR_CODE      269 non-null    object
 5   CALL SUMMARY    314 non-null    object
 6   ADDRESS2        1274 non-null   object
 7   long            1273 non-null   object
 8   lat             1273 non-null   object
 9   district        1274 non-null   object
dtypes: object(10)
memory usage: 99.7+ KB

In [14]:
pd.value_counts(df['district'])

West District          283
South District         245
Central District       192
North West District    135
North East District    133
North District          96
South West District     76
East District           72
New Delhi District      42
Name: district, dtype: int64

In [15]:
dist = df.district.unique()

In [16]:
dist

array(['North District', 'South District', 'South West District',
       'North East District', 'West District', 'Central District',
       'New Delhi District', 'East District', 'North West District'],
      dtype=object)

In [17]:
stores = [96, 245, 76, 133, 283, 192, 42, 72, 135]

In [18]:
population_density = [14557, 11060, 5446, 36155, 19563, 27730, 4057, 27132, 8254]

In [19]:
population = [887978, 2731929, 2292958, 2241624, 2543243, 582320, 142004, 1709345, 3656539]

In [20]:
dict = {'district': dist, 'population_density': population_density, 'population': population, 'stores': stores}

In [21]:
dist_pop = pd.DataFrame(dict)

In [22]:
dist_pop

              district  population_density  population  stores
0       North District               14557      887978      96
1       South District               11060     2731929     245
2  South West District                5446     2292958      76
3  North East District               36155     2241624     133
4        West District               19563     2543243     283
5     Central District               27730      582320     192
6   New Delhi District                4057      142004      42
7        East District               27132     1709345      72
8  North West District                8254     3656539     135

In [23]:
dist_pop.sort_values("stores", axis = 0, ascending = False)

              district  population_density  population  stores
4        West District               19563     2543243     283
1       South District               11060     2731929     245
5     Central District               27730      582320     192
8  North West District                8254     3656539     135
3  North East District               36155     2241624     133
0       North District               14557      887978      96
2  South West District                5446     2292958      76
7        East District               27132     1709345      72
6   New Delhi District                4057      142004      42

In [24]:
dist_pop.sort_values("population_density", axis = 0, ascending = False)

              district  population_density  population  stores
3  North East District               36155     2241624     133
5     Central District               27730      582320     192
7        East District               27132     1709345      72
4        West District               19563     2543243     283
0       North District               14557      887978      96
1       South District               11060     2731929     245
8  North West District                8254     3656539     135
2  South West District                5446     2292958      76
6   New Delhi District                4057      142004      42

In [25]:
dist_pop.sort_values("population", axis = 0, ascending = False)

              district  population_density  population  stores
8  North West District                8254     3656539     135
1       South District               11060     2731929     245
4        West District               19563     2543243     283
2  South West District                5446     2292958      76
3  North East District               36155     2241624     133
7        East District               27132     1709345      72
0       North District               14557      887978      96
5     Central District               27730      582320     192
6   New Delhi District                4057      142004      42